<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

</head>

<body style="font-family:Georgia, serif, '微軟正黑體'; color:#555555; margin:0; padding:0;">
    <!-- wrapper -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" background="cid:bg_jpg"
        style="font-family:Georgia, serif, '微軟正黑體'; color:#555555; padding:12px 0;">
        <tr>
            <td align="center">
                <!-- 01 -->
                <table width="600" border="0" cellpadding="10" cellspacing="0"
                    style="border-bottom: 3px solid #296684;">
                    <tr>
                        <td bgcolor="#FFFFFF">
                            <p></p>

                            <p>您好，您於高雄市便民一路通申辦${caseSetName}案件已結案，案件編號：${caseId}</p>
                            <p>
                            <table width="100%" border="1" style="border-collapse: collapse" align="left">
                                <tr>
                                    <td>結案說明</td>
                                    <td>${caseDescription}</td>
                                </tr>
                                <tr>
                                    <td>當時繳費金額</td>
                                    <td>${payAmount}</td>
                                </tr>

                                <tr>
                                    <td>預計繳費金額</td>
                                    <td>${deductPercent}</td>
                                </tr>

                                <tr>
                                    <td>退費優惠折扣</td>
                                    <td>${refundDiscount}</td>
                                </tr>
                                <tr>
                                    <td>實際退費金額</td>
                                    <td>${actualrefundAmount}</td>
                                </tr>
                            </table>
                            </p>
                            <br>
                            <p>請<a href="${caseUrl}">登入</a>系統，進入案件查詢可查詢案件資訊。</p>
                            <p>此為系統自動寄出信件，請勿直接回覆</p>
                            <p></p>
                        </td>
                    </tr>
                </table>
                <!-- End 01 -->

                <div style="height:12px"></div><!-- spacer -->

                <!-- footer -->
                <table width="600" border="0" cellpadding="10px" cellspacing="0" bgcolor="#FFFFFF"
                    style="border-radius:6px;">
                    <tr>
                        <td valign="middle">
                            <table width="80%" border="0" style="color:#3498db; font-size:11px; line-height:17px"
                                align="left">
                                <tr>
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table><!-- End footer -->

                <div style="height:12px"></div><!-- spacer -->

            </td>
        </tr>
    </table>
    <!-- End Wrapper -->
</body>

</html>